#billpage{
  width: 300px;
  background-color: lightblue;
  position: absolute;
  left: -360px;
}
#billdatediv{
  text-align: right;
}
#billnamediv{
  text-align: center;
  border-bottom: 1px solid blue;
}
#billtag,#billtotal{
  text-align: center;
}
#billtablediv{
  display: flex;
  justify-content: center;
}
#billtable{
  border-collapse: collapse;
}
#billtable th,td{
  width: 70px;
  border: 1px solid black;
  text-align: center;
  padding: 0;
}
#billtable input{
  background-color: lightblue;
  text-align: center;
}

