#outputpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 300px;
  background-color: lightblue;
  left: -360px;
}
#outputmod{
  width: 130px;
}

#outputnam{
  width: 130px;
  margin-left: 4px;
}
#outputtablediv{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  margin-left: 9px;
  margin-bottom: 50px;
}
#outputtable{
  width: 280px;
  border-collapse: collapse;
}
#outputtable th,td{
  border: 1px solid black;
  padding: 10px;
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.oshowtotal{
  display: block;
}

.outputnav{
  margin-bottom: 30px;
}

#outputpagescreenshot{
  padding: 5px;
  background-color: rgba(37, 218, 13, 0.562);
  height: 40px;
}

.outputnav{
  position: fixed;
  bottom: -35px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 5px 0;
  border-radius: 20px;
}