#outputpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 300px;
  background-color: lightblue;
  margin-right: 20px;
  left: -360px;
}
#outputmod{
  width: 130px;
}

#outputnam{
  width: 130px;
  margin-left: 4px;
}
#outputtablediv{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  margin-left: 9px;
}
#outputtable{
  width: 280px;
  border-collapse: collapse;
}
#outputtable th,td{
  border: 1px solid black;
  padding: 10px;
  font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.oshowtotal{
  display: block;
}
